<!-- start custom head snippets -->
<!--구글 애드센스-->
<script
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7356948119603952"
  crossorigin="anonymous"
></script>
<!-- RSS FEED SETTING-->
<link
  rel="alternate"
  type="application/rss+xml"
  href="{{ site.url }}/feed.xml"
/>
<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link
  rel="icon"
  type="image/png"
  href="/assets/images/favicon/favicon-96x96.png"
  sizes="96x96"
/>
<link
  rel="icon"
  type="image/svg+xml"
  href="/assets/images/favicon/favicon.svg"
/>
<link rel="shortcut icon" href="/assets/images/favicon/favicon.ico" />
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/assets/images/favicon/apple-touch-icon.png"
/>
<meta name="apple-mobile-web-app-title" content="MyWebSite" />
<link rel="manifest" href="/assets/images/favicon/site.webmanifest" />
<!-- end custom head snippets -->
